<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <link rel="stylesheet" href="../static/css/auth.css">
</head>
<body>

<div class="container">

    <div class="left">

        <img src="../static/images/logo.png" class="logo" alt="Swiggy Logo">

        <h1>Reset Password</h1>

        <p>Enter your details to reset your password.</p>

        <input type="tel" id="mobile" placeholder="Mobile Number" maxlength="10">

        <input type="text" id="resetOtp" placeholder="Enter OTP">

        <input type="password" id="newPassword" placeholder="New Password">

        <input type="password" id="confirmPassword" placeholder="Confirm Password">

        <button onclick="resetPassword()">Reset Password</button>

        <p class="signup">
            <a href="login.html">← Back to Login</a>
        </p>

    </div>

    <div class="right">

        <img src="../static/images/login-banner.png"
             class="banner"
             alt="Food Banner">

    </div>

</div>

<script src="../static/js/auth.js"></script>

</body>
</html>