<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swiggy Sign Up</title>

    <link rel="stylesheet" href="../static/css/auth.css">
</head>
<body>

<div class="container">

    <div class="left">

        <img src="../static/images/logo.png" class="logo" alt="Swiggy Logo">

        <h1>Create Account</h1>

        <p>Join Swiggy and order your favourite food.</p>

        <input type="text" placeholder="Full Name">

        <input type="email" placeholder="Email Address">

        <input type="tel" placeholder="Mobile Number" maxlength="10">

        <input type="password" placeholder="Create Password">

        <button>Create Account</button>

        <p class="signup">
            Already have an account?
            <a href="login.html">Login</a>
        </p>

    </div>

    <div class="right">

        <img src="../static/images/login-banner.png"
             class="banner"
             alt="Food Banner">

    </div>

</div>

<script src="../static/js/auth.js"></script>

</body>
</html>